.proditimg {
  width: 100%;
  max-width: 100px;
}
.proditimg img {
  border-radius: 0.5rem;
}
/* .prodit div {
  max-width: 100px;
  width: 100%;
} */
.prodtext {
  white-space: pre-wrap;
  font-size: large;
}
