.dish-list-div {
  width: 25vmin;
  height: 31vmin;
  background-color: #e1efe1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.dish-list-img {
  display: flex;
  margin: auto;
  max-width: 20vmin;
  width: 100%;
  max-height: 20vmin;
  height: 100%;
  border-radius: 50%;
}
.dish-list-item {
  display: flex;
  flex-direction: column;
  max-width: 25vmin;
  width: 100%;
  max-height: 50vmin;
  height: 100%;
  margin: 4vmin 1vmin 4vmin 1vmin;
}
.dish-list-div h4 {
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: "Cormorant Infant";
  font-style: normal;
  font-size: 2.5vmin;
  margin-bottom: 0rem;
}
.dish-list-button-div {
  width: 100%;
  display: flex;

  position: relative;
  top: -1.5vmin;
}
.dish-list-button {
  max-width: 13vmin;
  margin: 1vmin auto 3vmin auto;
  width: 100%;
  background-color: white;
  border: solid 0.1rem black;
  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 2vmin;
}
