* {
  transition: all 1s;
}
.main-div-main {
  max-height: 90vmin;
  height: 100%;
}
.list-m {
  background-image: url("https://cutt.ly/Y98ZuZJ"),
    url("https://cutt.ly/u98LKfI");
  height: 100%;
  max-height: 210vmin;
  background-position: left;
  background-color: white;
  position: relative;
}

.main-img {
  overflow: hidden;
  max-height: 50vmin;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}
.main-text h1 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 5vmin;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  text-shadow: 1px 1px 1px #000;
}
.main-text p {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 1px #000;
  line-height: 5vmin;
}
.main-img img {
  filter: brightness(40%);
  display: flex;
  width: 100%;
}
.main-text {
  text-align: center;
  position: relative;
  top: -120vmin;
}
.dish-list-main {
  display: flex;
  flex-direction: column;
  padding: 3vmin 0vmin 0vmin 0vmin;
}
.dish-list-main h2 {
  font-family: Cormorant Infant;
  font-style: normal;
  font-size: 5vmin;
  margin-bottom: 0rem;
  padding-left: 2vmin;
}
@media only screen and (max-width: 370px) {
  .main-text {
    position: relative;
    top: -50vmin;
  }
  .main-text p {
    font-size: 20px;
    font-weight: 300;
  }
  .main-text h1 {
    font-weight: 300;
    font-size: 40px;
  }
  .main-div-main {
    max-height: 130vmin;
    height: 100%;
  }
}
@media only screen and (max-width: 480px) and (min-width: 370px) {
  .main-text {
    position: relative;
    top: -15rem;
  }
  .main-text p {
    font-size: 20px;
    font-weight: 300;
  }
  .main-text h1 {
    font-weight: 300;
    font-size: 40px;
  }
  .main-img {
    height: 50vmin;
  }
  .main-div-main {
    max-height: 130vmin;
    height: 100%;
  }
}
@media only screen and (max-width: 770px) and (min-width: 480px) {
  .main-text {
    position: relative;
    top: -55vmin;
  }
  .main-text p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main-img {
    max-height: 50vmin;
  }
  .main-div-main {
    max-height: 165vmin;
    height: 100%;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 770px) {
  .main-text {
    position: relative;
    top: -35rem;
  }
  .main-div-main {
    max-height: 165vmin;
    height: 100%;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .main-img {
    max-height: 50vmin;
  }
  .main-text {
    position: relative;
    top: -80vmin;
  }
}
@media only screen and (max-width: 1700px) and (min-width: 1440px) {
  .main-text {
    position: relative;
    top: -105vmin;
  }
}
