.dishimg {
  display: flex;
  flex-direction: column;
}
.dishimge img {
  text-align: center;
  width: 100%;
  max-width: 700px;
  border-radius: 0.5rem;
  margin: 1rem;
}
.dishimg div {
  margin: 1rem;
}
