.dish-recipe-div {
  justify-content: start;
}
.dish-recipe-div h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 6vmin;
  color: #123f0a;
}
.dish-recipe {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
}
