.footer-div {
  width: 100%;
  height: 10rem;
  margin-top: 20rem;
}
.footer {
  height: 100%;
  width: 100%;
  background-color: #e1efe1;
}
.footer p {
  width: 100%;
  height: 100%;
  margin-top: auto;
  font-size: 3vmin;
  opacity: 75%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
