.product-item {
  max-width: 25vmin;
  max-height: 50vmin;
  margin: 1rem 4vmin 2rem 4vmin;
}
.product-item-img {
  display: flex;
  margin: 0rem auto 0rem auto;
  max-width: 20vmin;
  width: 100%;
  max-height: 20vmin;
  height: 100%;
  border-radius: 50%;
}
.product-item-text {
  background-color: #e1efe1;
  width: 25vmin;
  height: 31vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.product-item-name {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 3vmin;
  line-height: 20px;
  color: #123f0a;
}
.product-item-value {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: black;
  opacity: 50%;
  margin-top: 1rem;
}
