.dishes-img {
  width: 100%;
  filter: brightness(40%);
}
.dishes-div-img-text {
  width: 100%;
  max-height: 50vmin;
  overflow: hidden;
}
.dishes-text {
  text-align: center;
  position: absolute;
  top: 30vmin;
  width: 100%;
  color: white;
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 10vmin;
}
