.add-button {
  display: flex;
  flex-direction: column;
  margin-top: 1vmin;
}
.add-button-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vmin;
  justify-content: flex-start;
}
.add-button-input {
  margin: 0vmin 3vmin 0vmin 3vmin;
  border: solid 0.1rem black;
  border-radius: 1vmin;
  background-color: white;
}
.add-button-group-div {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  margin-left: 0rem;
}
.add-button-but {
  width: 10rem;
  height: 3rem;
  background-color: rgb(65, 243, 184);
  border-radius: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}
.add-button-but span {
  margin: auto;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
.add-button-remove {
  width: 10rem;
  height: 3rem;
  background-color: rgb(243, 65, 89);
  border-radius: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}
.add-button-remove span {
  margin: auto;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
